Proyecto mineria de datos:
### Minería de Datos para Equidad Educativa en Comunas Vulnerables
##### grupo: 14

##### Integrantes: 
1) Ignacio Gabler  
2) Cristobla Merino

### 1) Preprocesamiento de Datos

In [59]:
import zipfile
import os
import pathlib

# Obtener la ruta del directorio actual
ruta_actual = pathlib.Path().absolute()

# Ruta relativa al archivo zip
ruta_zip = os.path.join(ruta_actual, "archive.zip")
# Carpeta destino
carpeta_destino = os.path.join(ruta_actual, "datos")

# Descomprimir
with zipfile.ZipFile(ruta_zip, 'r') as zip_ref:
    zip_ref.extractall(carpeta_destino)



print(f"archivos extraidos en: {carpeta_destino}")

archivos extraidos en: c:\Users\ignac\OneDrive\Desktop\md14_proyecto\datos

In [60]:
#vamos a utilizarel archivo Expanded_data_with_more_features.csv porque es 
# el que contiene más características que nos interesa

import pandas as pd	
# Cargar el dataset desde archivo local (ajusta el nombre si es distinto)
df = pd.read_csv("datos/Expanded_data_with_more_features.csv")

# Ver las primeras filas del dataset
print(df.head())

# Ver resumen de columnas y tipos de datos
print(df.info())

# Ver si hay valores faltantes (NaN)
print(df.isnull().sum())

   Unnamed: 0  Gender EthnicGroup          ParentEduc     LunchType TestPrep  \
0           0  female         NaN   bachelor's degree      standard     none
1           1  female     group C        some college      standard      NaN
2           2  female     group B     master's degree      standard     none
3           3    male     group A  associate's degree  free/reduced     none
4           4    male     group C        some college      standard     none

  ParentMaritalStatus PracticeSport IsFirstChild  NrSiblings TransportMeans  \
0             married     regularly          yes         3.0     school_bus
1             married     sometimes          yes         0.0            NaN
2              single     sometimes          yes         4.0     school_bus
3             married         never           no         1.0            NaN
4             married     sometimes          yes         0.0     school_bus

  WklyStudyHours  MathScore  ReadingScore  WritingScore
0            < 5         71            71            74
1         5 - 10         69            90            88
2            < 5         87            93            91
3         5 - 10         45            56            42
4         5 - 10         76            78            75
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30641 entries, 0 to 30640
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           30641 non-null  int64
 1   Gender               30641 non-null  object
 2   EthnicGroup          28801 non-null  object
 3   ParentEduc           28796 non-null  object
 4   LunchType            30641 non-null  object
 5   TestPrep             28811 non-null  object
 6   ParentMaritalStatus  29451 non-null  object
 7   PracticeSport        30010 non-null  object
 8   IsFirstChild         29737 non-null  object
 9   NrSiblings           29069 non-null  float64
 10  TransportMeans       27507 non-null  object
 11  WklyStudyHours       29686 non-null  object
 12  MathScore            30641 non-null  int64
 13  ReadingScore         30641 non-null  int64
 14  WritingScore         30641 non-null  int64
dtypes: float64(1), int64(4), object(10)
memory usage: 3.5+ MB
None
Unnamed: 0                0
Gender                    0
EthnicGroup            1840
ParentEduc             1845
LunchType                 0
TestPrep               1830
ParentMaritalStatus    1190
PracticeSport           631
IsFirstChild            904
NrSiblings             1572
TransportMeans         3134
WklyStudyHours          955
MathScore                 0
ReadingScore              0
WritingScore              0
dtype: int64

In [61]:
df_copy = df.copy()

# eliminar null
df_copy = df_copy.dropna()
# Verificar si se eliminaron filas con valores nulos
print(f"Filas antes de eliminar nulos: {len(df)}")
print(f"Filas después de eliminar nulos: {len(df_copy)}")

Filas antes de eliminar nulos: 30641
Filas después de eliminar nulos: 19243

Eliminamos las filas con valores nulos, pero no borramos niguna columna (excepto la primera de id) para no perder información relevante. De esta manera obtener los factores y habitos que afectan en el rendimiento estudiantil de los alumnos de las comunas vulnerables de la región metropolitana.

In [62]:
#dropear unammed
df_copy = df_copy.drop(columns=['Unnamed: 0'], errors='ignore')

### 2) Encoding variables categoricas

#### label encoding

In [63]:

df_copy['Gender'] = df_copy['Gender'].map({'female': 0, 'male': 1})

# yes = 1  , no = 0
df_copy['IsFirstChild'] = df_copy['IsFirstChild'].map({'yes': 1, 'no': 0})

In [64]:

df_copy['TestPrep'] = df_copy['TestPrep'].map({'none': 0, 'completed': 1})
df_copy['PracticeSport'] = df_copy['PracticeSport'].map({'never': 0, 'sometimes': 1, 'regularly': 2})

#### One hot encoding

In [65]:
df_copy = pd.get_dummies(df_copy, columns=['EthnicGroup', 'ParentEduc', 'LunchType', 'ParentMaritalStatus', 'TransportMeans', 'WklyStudyHours'], drop_first=True)

In [66]:
df_copy = df_copy.astype(int)

print(df_copy.head(1))

# quiero ver todas los nombres de columnas
print("Nombres de columnas:")
print(df_copy.columns.tolist())

   Gender  TestPrep  PracticeSport  IsFirstChild  NrSiblings  MathScore  \
2       0         0              1             1           4         87

   ReadingScore  WritingScore  EthnicGroup_group B  EthnicGroup_group C  ...  \
2            93            91                    1                    0  ...

   ParentEduc_master's degree  ParentEduc_some college  \
2                           1                        0

   ParentEduc_some high school  LunchType_standard  \
2                            0                   1

   ParentMaritalStatus_married  ParentMaritalStatus_single  \
2                            0                           1

   ParentMaritalStatus_widowed  TransportMeans_school_bus  WklyStudyHours_< 5  \
2                            0                          1                   1

   WklyStudyHours_> 10
2                    0

[1 rows x 24 columns]
Nombres de columnas:
['Gender', 'TestPrep', 'PracticeSport', 'IsFirstChild', 'NrSiblings', 'MathScore', 'ReadingScore', 'WritingScore', 'EthnicGroup_group B', 'EthnicGroup_group C', 'EthnicGroup_group D', 'EthnicGroup_group E', "ParentEduc_bachelor's degree", 'ParentEduc_high school', "ParentEduc_master's degree", 'ParentEduc_some college', 'ParentEduc_some high school', 'LunchType_standard', 'ParentMaritalStatus_married', 'ParentMaritalStatus_single', 'ParentMaritalStatus_widowed', 'TransportMeans_school_bus', 'WklyStudyHours_< 5', 'WklyStudyHours_> 10']

#### Variables Objetivo

In [69]:
from sklearn.preprocessing import StandardScaler

# Separar variables de entrada y objetivo
y = df_copy[['MathScore', 'ReadingScore', 'WritingScore']]
X = df_copy.drop(columns=['MathScore', 'ReadingScore', 'WritingScore'])
 

# Escalar variables
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)